
<div class="row mb-2 border-bottom">
    <div class="col-md-10 col-lg-10 my-auto">
      <a href="{{ document.file.url }}">{{ document.title }}</a>
    </div>
    <div class="col-md-2 col-lg-2">
      {% if add %}
      <form class="form-inline w-100 my-1" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="article" value="{{ document.pk }}">
        <input type="hidden" name="user" value="{{ user.pk }}">
        <input type="hidden" name="add" value="1">
        <button type="submit" class="btn btn-success glyphicon glyphicon-plus m-auto"></button>
      </form>
      {% endif %}
      {% if remove %}
      <form class="form-inline w-100 my-1" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="article" value="{{ document.pk }}">
        <input type="hidden" name="user" value="{{ user.pk }}">
        <input type="hidden" name="remove" value="1">
        <button type="submit" class="btn btn-success glyphicon glyphicon-minus m-auto"></button>
      </form>
      {% endif %}
    </div>

</div>
