{% extends 'artman/index.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-3">

  <div class="row">
    <div class="col-lg-12">
      <form class="form-inline w-100 my-2 my-lg-0" method="GET" action=".">
        {{ sform.search }}
        <button class="btn btn-outline-success mr-2 my-sm-0" type="submit">Найти</button>
        <a class="btn btn-outline-success my-sm-0" href=".">Сбросить фильтр</a>
      </form>
    </div>
  </div>

  <div class="row">
    <div id="main_content" class="container">
      {% include 'artman/homepage__content.html' with bookshelf=bookshelf docs=docs %}
    </div>
  </div>

</div>

{% endblock %}
