<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Тестовая страница{% endblock %}</title>
     <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-light bg-light">
      <!-- FIXME: подставить конкретный url -->
      <a class="navbar-brand" href="#">Искать</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'homepage' %}">Профиль <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'moderate_page' %}">Модерировать</a>
          </li>
          {% endif %}

        </ul>
        {% if user.is_authenticated %}
        <span>Welcome {{ user.username }}</span>
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="nav-link" href="{% url 'login' %}">Log In</a>
        {% endif %}

      </div>
    </nav>
    {% block content %}
    <div class="">
      <h1>Sign Up</h1>
      <form class="" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ creationform.as_p }}
        <button type="submit" name="button">Sign Up</button>
      </form>
    </div>
    <div class="">
      <h1>Sign In</h1>
      <form class="" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ authform.as_p }}
        <button type="submit" name="button">Sign In</button>
      </form>
    </div>
    {% endblock %}
    {% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
