<div class="row my-2 border-bottom">
    <div class="col-md-3 col-lg-3 border-right">
      <span>{{ user.username }}</span>
    </div>
    <div class="col-md-4 col-lg-4">
      <span>{{ user.first_name }}</span>
    </div>
    <div class="{% if add and reject %}col-md-3 col-lg-3{% else %}col-md-4 col-lg-4{% endif %}">
      <span>{{ user.last_name }}</span>
    </div>
    {% if add and reject %}
    <div class="col-md-2 col-lg-2 m-auto">
      <form class="d-inline-block my-1" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="stud" value="{{ user.pk }}">
        <input type="hidden" name="add" value="1">
        <button type="submit" class="btn btn-success m-auto glyphicon glyphicon-plus"></button>
      </form>
      <form class="d-inline-block my-1" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="stud" value="{{ user.pk }}">
        <input type="hidden" name="reject" value="1">
        <button type="submit" class="btn btn-success m-auto glyphicon glyphicon-minus"></button>
      </form>
    </div>
    {% else %}
    <div class="col-md-1 col-lg-1 m-auto">
      {% if add %}
      <form class="d-inline-block my-1" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="stud" value="{{ user.pk }}">
        <input type="hidden" name="add" value="1">
        <button type="submit" class="btn btn-success m-auto glyphicon glyphicon-minus"></button>
      </form>
      {% endif %}
      {% if reject %}
      <form class="d-inline-block my-1" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="stud" value="{{ user.pk }}">
        <input type="hidden" name="reject" value="1">
        <button type="submit" class="btn btn-success m-auto glyphicon glyphicon-minus"></button>
      </form>
      {% endif %}
      {% if remove %}
      <form class="d-inline-block my-1" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="stud" value="{{ user.pk }}">
        <input type="hidden" name="remove" value="1">
        <button type="submit" class="btn btn-success glyphicon glyphicon-minus"></button>
      </form>
      {% endif %}
      </form>
    </div>
    {% endif %}

</div>
